header {
    background-color: #9AC8EB;
}

nav {
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link-nav {
    display: flex;
    column-gap: 94px;
    margin: 0 76px 0 0;
}

.link-nav a {
    position: relative;
    font-size: 30px;
    color: black;
}

.name-nav {
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    margin: 0 0 0 30px;
}