/* Barre de scroll */

:root {
    --largeur-before: 0;
}

#scroll-progression {
    height: 8px;
    width: 100%;
    background-color: #D9D9D9;
    position: sticky;
    top: -1px; /* Problème quand le sticky est à 0px */
    z-index: 100;
}


#scroll-progression::before {
    content: "";
    position: absolute;
    width: var(--largeur-before, 0);
    height: 8px;
    background-color: #6372F8;
    transition: all ease-out 0.1s;
}