main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#titre-a-propos {
    color: #713FDB;
    font-size: 40px;
    position: absolute;
    top: 14vh;
    left: 8vw;
}

main > div {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

#parti-gauche {
    display: flex;
    flex-direction: column;
}

#parti-gauche p {
    width: 600px;
    font-size: 20px;
    line-height: 25px;
}

#parti-gauche > div {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

#parti-droite {
    display: flex;
    flex-direction: column;
}

#parti-droite h2 {
    font-size: 28px;
    margin: 15px 0;
}

#parti-droite li {
    margin: 20px 0;
    transform: translateX(20px);
}