#titre-projet-pro {
    color: #713FDB;
    font-size: 40px;
    position: absolute;
    top: 14vh;
    left: 8vw;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    column-gap: 350px;
}

#parti-gauche {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    width: 500px;
}

#parti-gauche > div {
    display: flex;
}

#parti-gauche p {
    font-size: 20px;
    line-height: 28px;
}

#bouton-cv {
    background: #713FDB;
    padding: 10px;
    color: white;
    width: 250px;
    height: 40px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

#bouton-contact {
    background: #713FDB;
    padding: 10px;
    color: white;
    width: 150px;
    height: 40px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

#linkedin-img {
    width: 50px;
    height: auto;
}

#github-img {
    width: 50px;
    height: auto;
}

#parti-droite {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

#container-img {
    display: flex;
    column-gap: 30px;
}