body {
    background-image: url("/projets/poke-quizz/ressource/bck-image-acceuil.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main {
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    display: inline;
}

/**
* index.html
 */

.box-user {
    background-color: rgb(89, 135, 253, 80%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 5% 2% 5%;
    border-radius: 10px;
    row-gap: 80px;
    margin: 0 0 200px 0;
    opacity: 0;
    z-index: -1;
}

.text-user {
    font-size: 80px;
}

.box-gentleman {
    display: flex;
    justify-content: center;
}

.box-quizz {
    background-color: white;
    padding: 10px;
    opacity: 0;
}